.section-default {
  width: 100%;
  flex: 2 1 auto;
  display: flex;
  align-items: center;
}

.section-full-width {
  width: 100%;
  flex: 2 1 auto;
  display: flex;
  align-items: center;

  &__spacer {
    flex: 1 1 0;
  }

}

.section-full-width__content {
  flex: 1 1 0;
  text-align: center;
}

.section-half-dark {
  flex: 1 1 auto;
  align-self: stretch;
  width: 50%;
  float: left;
}

.section-half-image {
  flex: 1 1 auto;
  margin: auto;
  width: 50%;

  &__image {
    max-width: 100%;
    display: block;
  }

}

