<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="{{ 'site.webmanifest' | absolute_url }}">
  <link rel="apple-touch-icon" href="{{ 'icon.png' | absolute_url }}">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS & fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto:900,900i" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ 'css/style.css' | absolute_url }}"/>

  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{page.title}} | {% endif %}{{site.title}}">
  <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
  {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: 'img/' | absolute_url }}">{% endif %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} | {% endif %}{{site.title}}">
  <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
  {% if page.image %}<meta name="twitter:image" content="{{ page.image | prepend: 'img/' | absolute_url }}">{% endif %}
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">

</head>
