{% for lang in site.languages %}
{% unless lang == site.active_lang %}

{%- capture lang-name -%}
    {% if site.default_lang == site.active_lang %}
        Fran&ccedil;ais
    {% else %}
        English
    {% endif %}
{%- endcapture -%}

<li class="menu__item show-small">
    <a class="menu__item__link" href=" {% if lang == site.default_lang %}{{ page.url | absolute_url }} {% else %}{{ page.url | prepend: lang | absolute_url }}{% endif %}">{{ lang-name }}</a>
</li>
{% endunless %}
{% endfor %}

{% for node in site.pages %}
	{% if node.layout == 'default' %}
        <li class="menu__item">
            <a class="menu__item__link {% if page.url == node.url %}menu__item__link--active{% endif %}" href="{{ node.url | absolute_url }}">
                {{ node.title }}
            </a>
        </li>
    {% endif %}
{% endfor %}
