<div class="section-full-width"
  {% if section.image %}style="
    background-image: url('{{ section.image | prepend: "img/" | absolute_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;"
  {% endif %} >
  <div class="section-full-width__spacer"></div>
  {% if section.content %}
  <div class="section-full-width__content">
      {% if section.title %}<h2 class="section-full-width__content__title">{{ section.title }}</h2>{% endif %}
      {{ section.content | markdownify }}
  </div>
  {% endif %}
</div>
