.section {

    &__content {
        @extend %content-padding;
        @extend %content-max-width;
    }

    &__title {
        text-transform: uppercase;
        @include font-size(1.5);
        @include line-height(1.125);

        @media (min-width: $small-devices) {
            @include font-size(2);
            @include line-height(2);
        }

    }

    &__cta {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.05em;
        font-size: 1.25em;
        display: block;
        text-align: center;
    }

    &--bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: black;

        .section__title {
            color: #fff;
        }

    }

    &--dark {
        background-color: #000;

        .section__title {
            color: #fff;
        }

    }

    &--hero {
        display: flex;
        align-items: center;
        height: 94vh;
        width: 100%;

        .section__content {
            @extend %content-padding;
            max-width: #{ $max-width * 2 + 'rem'};
            margin-left: auto;
            margin-right: auto;

            p {
                @extend %lead;
                color: white;

                @media (min-width: $large-devices) {
                    @include font-size(2);
                    @include line-height(2);
                }

            }

        }

        .section__title {
            font-weight: $heading-font-weight;
            @include font-size(1.75);
            @include line-height(1.35);
            margin-top: 0;
            @include margin-bottom(0.75);

            @media (min-width: $small-devices) {
                text-align: center;
                @include font-size(3);
                @include line-height(1.5);
            }

            @media (min-width: $large-devices) {
                @include font-size(5);
                @include line-height(2.5);
            }

        }

    }

}
