.main-header {
    // this depends on the height of the logo (1.25em) as well as 2x the margin around the logo
    margin-top: #{ ( 1.5 * $leading-rem ) + 3 + 'em'};

    @media ( min-width: $small-devices ) {
        margin-top: #{ ( 2 * $leading-rem ) + 3 + 'em'};
    }

}

.topbar {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99;

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @extend %topbar-padding;
        flex: 1 1 auto;
        padding-right: 0;
        @media ( min-width: $small-devices ) {
            width: 15%;
        }

        a {
            display: flex;

            svg {
                height: 3em;
            }

        }

    }

    &__spacer {
        flex: 1 1 auto;
        width: 15%;

        @media ( max-width: $small-devices ) {
            display: none;
        }

    }

    &__dropdown-toggle {
        @extend %topbar-padding;
        transition: color 0.5s;
        flex: 1 1 auto;
        background-color: #000;

        @media ( min-width: $small-devices ) {
            display: none;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 1.25em;
            height: 3px;
            margin: 4px;
            margin-left: auto;
            background-color: $light-gray;
            transition: 0.4s;
        }

        &.dropdown-open {

            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-4px, 7px) ;
                transform: rotate(-45deg) translate(-4px, 7px) ;
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                -webkit-transform: rotate(45deg) translate(-3px, -7px) ;
                transform: rotate(45deg) translate(-3px, -7px) ;
            }

        }

    }

    .menu {
        flex: 3 1 auto;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        @media ( max-width: $small-devices ) {
            text-align: left;
            flex: 4 1 auto;
            width: 100%;
            background-color: $dark-gray;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            max-height: 0;

            &.dropdown-open {
                max-height: 40vh;
            }

        }

        &__item {
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;

            @media ( max-width: $small-devices ) {
                width: 100%;
                margin: 0;
            }

            &__link {
                @include padding(0.5,1,0.55);
                text-decoration: none;
                color: $light-gray;

                &:hover {
                    color: $gray;
                }

                @media ( max-width: $small-devices ) {
                    @include padding(0.5,1);
                    display: block;
                }

            }

        }

    }

}
